@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Mohave:wght@300&display=swap');

body {
    background-color: rgb(6, 6, 6);
}

/*header/title----------------------------------------------------------------*/
header {
    margin: auto;
}

.bg-color-name-title {
    background-color: #2c2727;
}

#title {
    font-family: "Alumni Sans Pinstripe", sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: aliceblue;
    font-size: 75px;
    letter-spacing: 10px;
    padding-top: 5px;
}

.bg-color-name-wrexham {
    background-color: aliceblue;
}

#wrexham {
    font-family: "Alumni Sans Pinstripe", sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #2c2727;
    font-size: 50px;
    letter-spacing: 5px;
    padding-top: 5px;
}

#x {
    color: #ba2222;
}


/*navbar----------------------------------------------------------------------*/

.nav {
    font-family: "Alumni Sans Pinstripe", sans-serif;
    background-color: #267c31ee;

}

nav a {
    color: aliceblue;
    font-weight: bold;
    letter-spacing: 1px;

}

.hvr-sweep-to-bottom:before {
    background: #ba2222 !important;
    height: 40px;
}

/*home----------------------------------------------------------------------*/

.card {
    border: none !important;
    border-radius: none !important;
}

.card-title {
    font-family: "Mohave", sans-serif;
    text-transform: uppercase;
    color: #2c2727;
    font-size: 50px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.testimonies {
    text-transform: uppercase;
}

.card-text {
    font-family: "Mohave", sans-serif;
    color: aliceblue;
    font-size: 22px;
    text-align: center;
    border-radius: 5px;
    margin-top: 50px;
    padding: 10px;
    background-color: #ba2222a4;
}

#mentorstestimony {
    padding-top: 40px;
}

.card-title-testimony {
    font-family: "Mohave", sans-serif;
    color: aliceblue;
    font-size: 50px;
    text-align: center;
    margin-top: 0;
}

.card-links {
    font-family: "Mohave", sans-serif;
    text-align: center;
    color: aliceblue;
    font-size: 25px;
    margin-top: 300px;
    padding: 50px;
    border-radius: 5px;
    padding: 10px;
    background-color: #2e2727a4;
}

#justbethere {
    padding-top: 45px;
}


/*gallery.html----------------------------------------------------------------*/
.carousel-card {
    margin-bottom: 10px;
    min-height: 500px;
}

.carousel-caption {
    font-family: "Mohave", sans-serif;
    color: aliceblue;

}

#media-links {
    font-family: "Mohave", sans-serif;
    color: aliceblue;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
}

.container-links {
    font-family: "Mohave", sans-serif;
    text-align: center;
    font-size: 25px;
    padding: 50px;
    border-radius: 5px;
    padding: 10px;
    background-color: #2e2727a4;
    margin-top: 50px;
}

/*contact form----------------------------------------------------------------*/
form {
    font-family: "Mohave", sans-serif;
    width: 100%;
    color: #2c2727;
    margin-top: 50px;
}

#card-subtitle {
    font-family: "Mohave", sans-serif;
    font-size: 30px;
    text-align: center;
    color: #2c2727;
    text-transform: uppercase;
}

.enquiry-button {
    margin: 20px;
}



/*footer----------------------------------------------------------------------*/



footer {
    font-family: "Mohave", sans-serif;
    background: #444343;
    color: #ffffff;
    padding-top: 10px;
    text-align: center;
    top: 300px;
}


.general-sub {
    font-size: 12px;
    text-decoration: underline;
}


.inline-block {
    font-size: 12px;
}


.facebook {
    font-size: 30px;
}


.copyright {
    font-family: "Mohave", sans-serif;
    padding-top: 10px;
}


/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px) {}


/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px) {
    #title {
        font-size: 80px;
    }

    .card-title {
        font-size: 35px;
    }

    .card-text {
        font-size: 25px;
        margin-top: 40px;
    }

    .card-title-testimony {
        font-size: 30px;
    }

    #aboutusimg {
        width: 100%;
    }

    .container-aboutus {
        margin-top: 50px;
    }

    #galleryimg {
        width: 100%;
    }
    #media-links {
        font-size: 35px;
    }    

    #contactusimg {
        height: 870px;
        width: 100%;


    }


    /* For small screens sizes from 430px wide and down */
    @media screen and (max-width: 430px) {

        .hvr-sweep-to-bottom:before {
            height: 45px;
        }

        #title {
            font-size: 40px;
        }

        #wrexham {
            font-size: 22px;
        }
        nav a {
            font-size: 10px !important;
            text-transform: uppercase;
        }

        .card-title {
            font-size: 20px;

        }

        .card-text {
            font-size: 14px;
            padding: 2px;
            margin-top: 5px;

        }

        .card-title-testimony {
            font-size: 20px;
        }

        .further-testimony {
            font-size: 10px;
            margin-top: 10px;
        }

        #card-links {
            font-size: 20px;
            margin-top: 50px;
        }
        
        #aboutusimg {
            width: 100%;
        }

        .container-aboutus {
            margin-top: 0px;
         
        }
        

        .carousel-card {
            min-height: 300px;
        }

        #media-links {
            font-size: 20px;
            text-align: center;
            margin-top: 5px;
        }

        .container-links {
            font-size: 15px;
            margin-top:0px;
        }

        #contactusimg {
            object-fit: contain;
            position: top right;
            width: 100%;
        }

        #card-subtitle {
            font-size: 18px;
        }

        form {
            font-size: 15px;
            margin-top: 0px;
            
        }
    }

    @media screen and (max-width: 300px) {
        #title {
            font-size: 20px;
            text-align: center;
        }

        #wrexham {
            font-size: 9x;
        }

       .card-title {
            font-size: 13px;
            font-weight: bold;
        }

        .card-text {
            font-size: 9px;
            text-align: center;
            margin-top: 5px;
        }

        .card-title-testimony {
            font-size: 9px;
        }

        .further-testimony {
            font-size: 9px;
            margin-top: 9px;
            padding: 5px;

        }

        .carousel-card {
            min-height: 200px;
        }


        #media-links {
            font-size: 13px;
            margin-top: 0px;
        }
        .container-links {
            font-size: 13px;
            margin-top: 0px;
        }    

        #contactusimg {
            width: 100%;
        }
        #card-subtitle {
            font-size: 13px;
        }
        form {
                font-size: 13px;
        }
    }