@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Mohave:wght@300&display=swap');

body {
    background-color: rgb(6, 6, 6);
    
}

/*header/title----------------------------------------------------------------*/
header {
    margin: auto;
}
.bg-color-name-title {
    background-color: #2c2727;
}
#title {
    font-family: "Alumni Sans Pinstripe", sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: aliceblue;
    font-size: 75px;
    letter-spacing: 10px;
    padding-top: 5px;
}
.bg-color-name-wrexham {
    background-color: aliceblue;
}
#wrexham {
    font-family: "Alumni Sans Pinstripe", sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #2c2727;
    font-size: 50px;
    letter-spacing: 5px;
    padding-top: 5px;
}
#x {
    color: #ba2222;
}


/*navbar----------------------------------------------------------------------*/

.nav {
    font-family: "Alumni Sans Pinstripe", sans-serif;
    background-color: #267c31ee;
}
nav a {
    color: aliceblue;
    font-weight: bold;
    font-size: 24px
}
.hvr-sweep-to-bottom:before {
    background: #ba2222 !important;
    height: 80px;
}

/*home----------------------------------------------------------------------*/

.card {
    border: none !important;
    border-radius: 0px !important;
}
.card-title{
    font-family: "Mohave", sans-serif;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #1c1919cd;
}
#hero-text {
    font-family: "Mohave", sans-serif;
    color: aliceblue;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    margin-top: 50px;
    padding: 20px;
    background-color: #ba2222a4;
}

.card-links {
    font-family: "Mohave", sans-serif;
    text-align: center;
    color: aliceblue;
    font-size: 20px;
    margin-top:50px;
    margin-bottom: 100px;
    padding: 50px;
    border-radius: 5px;
    padding: 10px;
    background-color: #302a2ae1;
}
#mentorstestimony{
    margin-top: 10px;
    padding: 10px;
}
.card-sub-titles{
    text-transform:uppercase;
}
.card-testimony {
    font-family: "Mohave", sans-serif;
    color: aliceblue;
    text-transform: uppercase;
    text-shadow: 2px 2px #2c2727;
    
    
    
}
.card-text {
    font-family: "Mohave", sans-serif;
    color: aliceblue;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    margin-top: 50px;
    margin-right: 0px;
    padding: 10px;
    background-color: #ba2222a4;
}
#justbethere {
    padding-top: 15px;
}

#staying-together {
    padding-top: 15px;
}

/*aboutus.html----------------------------------------------------------------*/

.container-aboutus {
    font-family: "Mohave", sans-serif;
    color: aliceblue;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    margin-top: 75px;
    padding: 10px;
    background-color: #ba2222a4;
}
#aboutusimg{
    width: 50vw;
}

/*contact form----------------------------------------------------------------*/
form {
    font-family: "Mohave", sans-serif;
    width: 100%;
    color: #2c2727;
    margin-top: 20px;
}
#card-subtitle {
    font-family: "Mohave", sans-serif;
    font-size: 20px;
    text-align: center;
    color: #2c2727;
    text-transform: uppercase;
}
.form-control{
    margin-bottom: 10px;
}
.enquiry-button {
    margin-top: 20px;
}
#contactusimg {
    width: 50vw;
}

/*footer----------------------------------------------------------------------*/
footer {
    font-family: "Mohave", sans-serif;
    background: #444343;
    color: #ffffff;
    padding-top: 10px;
    text-align: center;
    top: 300px;
    
}
.general-sub {
    font-size: 16px;
    text-decoration: underline;
}
.inline-block {
    font-size: 16px;
}
.facebook {
    font-size: 30px;
}
.copyright {
    font-family: "Mohave", sans-serif;
    padding-top: 16px;
}

/* MEDIA QUERIES_____________________________________________________________ */

/* For medium screens sizes from 1280px wide and down */
@media screen and (max-width: 1280px) {
    
.card-title {
    font-size: 40px;
}
#hero-text {
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 5px;
}
    
#card-subtitle {
    font-size: 15px;
}
.card-links {
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 5px;
}
audio {
    width: 75%;
}
#mentorstestimony {
    padding-top: 5px;
    padding-bottom: 5px;
}
.card-text {
    font-size: 18px;
    margin-top: 20px;
}
#aboutusimg {
    object-fit: cover;
    height: 950px;
}
.container-aboutus {
    font-size: 16px;
    margin-top: 40px;
}
form {
    width: 100%;
    margin-top: 10px;
}
.form-control {
    margin-bottom: 5px;
}
.enquiry-button {
    margin-top: 15px;
}
.general-sub {
    font-size: 16px;
}
.inline-block {
    font-size: 16px;
}
.facebook {
    font-size: 30px;
}
}

/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px) {
#title {
    font-size: 80px;
}
.card-title {
    font-size: 25px;
}
#hero-text {
    font-size: 16px;
    margin-top: 0px;
    padding: 5px;
}
.card-links {
    font-size: 16px;
    margin-top: 30px;
    padding-bottom: 0px;
    background-color: #201d1db2;;
}
#mentorstestimony {
    padding-top: 10px;
}
.card-sub-titles {
    font-size: 18px;
}
audio {
    height: 25px;
    width: 300px;
}
.card-text {
    font-size: 16px;
    margin-top: 25px;
}
#aboutusimg {
    width: 100%;
}
.container-aboutus {
    padding: 2px;
    margin-top: 75px;
    font-size: 16px;
}
#contactusimg {
    width: 100%;
    object-fit: cover;
}
#card-subtitles{
    font-size: 16px;
}
form {
    width: 100%;
}

}

/* For small screens sizes from 850px wide and down */
@media screen and (max-width: 850px) {
.hvr-sweep-to-bottom:before {
    height: 45px;
}
#title {
    font-size: 40px;
}
#wrexham {
    font-size: 22px;
}
nav a {
    font-size: 12px !important;
    text-transform: uppercase;
}
.card-title {
    font-size: 20px;
}
#hero-image {
    object-fit: cover;
    height: 550px;
}
#hero-text {
    font-size: 16px
}
#green-door {
    object-fit: cover;
    height: 450px;
}
.card-links {
    font-size: 14px;
    margin-top: 30px;
}
audio {
    width: 75%;
}
#mentorstestimony {
    padding-top: 0px;
}
.card-text {
    font-size: 14px;
    margin-top: 20px;
}
#justbethere {
    padding-top: 10px;
}
#staying-together {
    padding-top: 10px;
}
.container-aboutus {
    padding: 2px;
    margin-top: 60px;
    font-size: 16px;
}
form {
    font-size: 15px;
    margin-top: 0px;
}
#contactusimg {
    object-fit: cover;
    height: 950px;
}
.inline-block {
    font-size: 12px;
}
.facebook {
    font-size: 20px;
}
}

/* For small screens sizes from 400px wide and down */
@media screen and (max-width: 400px) {
#title {
    font-size: 20px;
    text-align: center;
}
nav a {
    font-size: 14px !important;
    font-weight: bold !important;
}
.card-title {
    font-size: 14px;
    font-weight: bold;
}
.card-links {
    font-size: 11px;
    margin-top: 5px;
}
.card-sub-titles {
    font-size: 14px;
}
.card-text {
    font-size: 11px;
    text-align: center;
    margin-top: 25px;
}
#card-subtitle {
    font-size: 11px;
}
#aboutusimg {
    height: 650px;
}
.container-aboutus {
    font-size: 12px;
    padding: 2px;
    margin-top: 25px;
}
#contactusimg {
    width: 100%;
}
#card-subtitle {
    font-size: 12px;
}
.general-sub {
    font-size: 10px;
    text-decoration: underline;
}
.inline-block {
    font-size: 10px;
}
.facebook {
    font-size: 15px;
}
}
/* For small screens sizes from 306px wide and down */
@media screen and (max-width: 306px) {
nav a {
    font-size: 11px !important;
}    
#hero-text {
    font-size: 12px;
}
.card-links {
    font-size: 11px;
    margin-top: 15px;
}
.card-text {
    font-size: 11px;
    margin-top: 25px;
}
#justbethere {
    padding-top: 10px;
}
#staying-together {
    padding-top: 10px;
}
audio {
    width: 85%;
}
}